@import "this-is-a-test-package-987/index.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html {
  scroll-behavior: smooth !important;
}

body {
  font-family: Inter, ui-sans-serif, Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  @apply dark:bg-gray-900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 100px;
}

.disable-transitions,
.disable-transitions * {
  transition: none !important;
}

/* Toast classes */

.sn-theme-dark {
  --sn-toast-bg-color: #182135;
  --sn-toast-text-color: #ced4db;
  --sn-progress-bar-color: #7c8189;
  --sn-icon-stroke: #fff;
}

.sn-type-success {
  --sn-progress-bar-color: var(--sn-color-success);
  --sn-icon-fill: var(--sn-color-success);
}

.sn-type-error {
  --sn-progress-bar-color: var(--sn-color-error);
  --sn-icon-fill: var(--sn-color-error);
}

.sn-type-warning {
  --sn-progress-bar-color: var(--sn-color-warning);
  --sn-icon-fill: var(--sn-color-warning);
}

.sn-type-info {
  --sn-progress-bar-color: var(--sn-color-info);
  --sn-icon-fill: var(--sn-color-info);
}

/* Misc */

.scrollbar-md::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.scrollbar-md::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-900;
}

.scrollbar-md::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border-width: 0px 1px;
  @apply border border-slate-400 bg-slate-300 dark:border-slate-800 dark:bg-slate-700;
}

.scrollbar-md::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400 dark:bg-slate-600;
}

.scrollbar-sm::-webkit-scrollbar {
  width: 4px;
  height: 10px;
}

.scrollbar-sm::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-900;
}

.scrollbar-sm::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border-width: 0px 1px;
  @apply border border-slate-400 bg-slate-300 dark:border-slate-800 dark:bg-slate-700;
}

.scrollbar-sm::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400 dark:bg-slate-600;
}

@keyframes dark-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.compact p {
  margin: 0 !important;
  padding: 0 !important;
}

.child-bg-override pre,
.child-bg-override code {
  @apply rounded-md !bg-slate-800 px-1 py-0 !shadow-none;
}

.child-bg-override pre {
  overflow-x: auto;
}

.child-bg-override * {
  @apply !shadow-none;
}

[data-nav="sublink"] {
  scroll-margin: 75px 0 0 0;
}

table td {
  font-size: 12px;
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
}

.prose
  :where(:is(tbody, tfoot) td:first-child):not(
    :where([class~="not-prose"], [class~="not-prose"] *)
  ) {
  padding-left: 0.175rem;
}
