:root {
  /* General */
  --sn-z-index: 9999;
  --sn-color-default: #4b5563;
  --sn-color-success: #34ab53;
  --sn-color-error: #ea4335;

  /* Toast Wrapper */
  --sn-wrapper-border-radius: 8px;
  --sn-wrapper-box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --sn-wrapper-transition-duration: 0.3s;

  /* Toast */
  --sn-toast-max-width: 324px;
  --sn-toast-min-width: 244px;
  --sn-toast-gap: 12px;
  --sn-toast-bg-color: white;
  --sn-toast-text-color: #121826;
  --sn-toast-padding: 12px 14px;

  /* Dismiss Button */
  --sn-dismiss-btn-color: #9ca3af;
  --sn-dismiss-btn-hover-color: #374151;
  --sn-dismiss-btn-size: 1.15rem;
  --sn-dismiss-btn-border-radius: 0.25rem;
  --sn-dismiss-btn-margin: -0.375rem -0.375rem -0.375rem 0.125rem;
  --sn-dismiss-btn-transition: color 0.3s;

  /* Progress Bar */
  --sn-progress-bar-height: 2px;
  --sn-progress-bar-bg-color: #4b5563;

  /* Icon */
  --sn-icon-size: 1rem;
}

*[data-role="toast"] {
  pointer-events: all;
  will-change: transform, opacity, top, bottom;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

*[data-role="progress"] {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sn-toaster {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  z-index: var(--sn-z-index);
}

.sn-toast-wrapper {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  transition-property: transform, opacity, top, bottom;
  z-index: var(--sn-z-index);
  transition-duration: var(--sn-wrapper-transition-duration);
  border-radius: var(--sn-wrapper-border-radius);
  box-shadow: var(--sn-wrapper-box-shadow);
}

.sn-toast {
  display: flex;
  overflow: hidden;
  position: relative;
  overflow-wrap: anywhere;
  max-width: var(--sn-toast-max-width);
  min-width: var(--sn-toast-min-width);
  gap: var(--sn-toast-gap);
  background-color: var(--sn-toast-bg-color);
  color: var(--sn-toast-text-color);
  padding: var(--sn-toast-padding);
}

.sn-dismiss-button {
  display: inline-flex;
  margin-inline-start: auto;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--sn-dismiss-btn-transition);
  margin: var(--sn-dismiss-btn-margin);
  height: var(--sn-dismiss-btn-size);
  width: var(--sn-dismiss-btn-size);
  border-radius: var(--sn-dismiss-btn-border-radius);
  color: var(--sn-dismiss-btn-color);
}

.sn-dismiss-button:hover {
  color: var(--sn-dismiss-btn-hover-color);
}

.sn-progress-bar {
  will-change: transform, width;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--sn-progress-bar-height);
  background-color: var(--sn-progress-bar-bg-color);
}

.sn-slide-in-right {
  -webkit-animation: SNSlideInRight 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation: SNSlideInRight 0.3s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.sn-slide-out-right {
  -webkit-animation: SNSlideOutRight 0.15s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation: SNSlideOutRight 0.15s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes SNSlideInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes SNSlideOutRight {
  0% {
    opacity: 1;
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(80%, 0, 0);
  }
}

/** Checkmark, Cross and Loading Icon **/

.sn-checkmark-icon {
  width: var(--sn-icon-size);
  height: var(--sn-icon-size);
  box-shadow: inset 0px 0px 0px var(--sn-color-success);
  margin-top: 1px;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: #fff;
  stroke-miterlimit: 10;
  animation:
    SNFill 0.4s ease-in-out 0.4s forwards,
    SNScale 0.3s ease-in-out 0.9s both;
  -webkit-animation:
    SNFill 0.4s ease-in-out 0.4s forwards,
    SNScale 0.3s ease-in-out 0.9s both;
}

.sn-checkmark-icon-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--sn-color-success);
  fill: none;
  animation: SNStroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  -webkit-animation: SNStroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.sn-checkmark-icon-check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke-width: 6;
  animation: SNStroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  -webkit-animation: SNStroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.sn-crossmark-icon {
  width: var(--sn-icon-size);
  height: var(--sn-icon-size);
  box-shadow: inset 0px 0px 0px var(--sn-color-error);
  margin-top: 1px;
  border-radius: 50%;
  display: block;
  stroke-width: 4;
  stroke: #fff;
  stroke-miterlimit: 10;
  animation:
    SNFillCrosss 0.4s ease-in-out 0.4s forwards,
    SNScale 0.3s ease-in-out 0.9s both;
  -webkit-animation:
    SNFillCrosss 0.4s ease-in-out 0.4s forwards,
    SNScale 0.3s ease-in-out 0.9s both;
}

.sn-crossmark-icon-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: var(--sn-color-error);
  fill: none;
  animation: SNStroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  -webkit-animation: SNStroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.sn-crossmark-icon-cross {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  stroke-width: 6;
  animation: SNStroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  -webkit-animation: SNStroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes SNStroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes SNScale {
  0%,
  100% {
    transform: none;
  }
  50% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes SNFill {
  100% {
    box-shadow: inset 0px 0px 0px 30px var(--sn-color-success);
  }
}

@keyframes SNFillCrosss {
  100% {
    box-shadow: inset 0px 0px 0px 30px var(--sn-color-error);
  }
}
